<a href="https://colab.research.google.com/github/jayasrikumar14/jayasrikumar14/blob/main/advpyass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Python code to find Euclidean distance
import numpy as np
arr1 = np.array((4, 6, 3))
arr2 = np.array((2, 4, 2))
sumsq = np.sum(np.square(arr1 - arr2))
print(np.sqrt(sumsq))

3.0

In [1]:
#python code to find manhattan distance
import numpy as np
arr1 = np.array((4, 6, 3))
arr2 = np.array((2,4,2))
manhattan_distance = np.sum(np.abs(arr1-arr2))
print(manhattan_distance)

5

In [5]:
#python code to find jaccard similarity
import numpy as np

def jaccard(set1, set2):
    intersection = np.intersect1d(set1, set2)
    union = np.union1d(set1, set2)
    jaccardsim = len(intersection) / len(union)
    return jaccardsim

setX = np.array([0, 1, 2, 5, 6])
setY = np.array([0, 2, 3, 4, 5, 7, 9])

ans = jaccard(setX, setY)
print("Jaccard similarity between set X and set Y:",ans)

Jaccard similarity between set X and set Y: 0.3333333333333333

In [8]:
import numpy as np

def dotproduct(x, y):
    return np.dot(x, y)

# Example vectors
vectorX = np.array([2, 4])
vectorY = np.array([6, 3])

dotres = dotproduct(vectorX, vectorY)
print("Dot product between vector_x and vector_Y:",dotres)

Dot product between vector_x and vector_Y: 24

In [11]:
import requests

download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"
target_csv_path = "nba_all_elo.csv"

response = requests.get(download_url)
response.raise_for_status()    # Check that the request was successful
with open(target_csv_path, "wb") as f:
    f.write(response.content)
print("Download ready.")

Download ready.

In [12]:
import pandas as pd
nba = pd.read_csv("nba_all_elo.csv")
type(nba)

pandas.core.frame.DataFrame

In [13]:
nba.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN